nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100vw;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
nav > div {
  flex-direction: row;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > div > ul {
  flex-direction: row;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20px;
}
